.devtool-nav{
    width: 300px;
    height: 300px;
    /* position: fixed; */
    right: 10px;
    bottom: 10px;
    background-image: url("../images/devtool-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 999;
}